
.container {
  
  width: 1200px;
  /* uma largura fixa pro conteúdo central */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  /* quando os elementos filhos ultrapassarem a width eles vão apa linha de baixo */

}

.min-height {

  min-height: 75%;

}









