
.btn {

  width: 100%;
  background-color: aqua;
  color: black;
  font-size: 20px;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: .5s;
  border: none;

}

.btn:hover {

  color: yellow;
  cursor: pointer;
 
 

}