* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*para os inputs não ultrapassarema área mínima do elemento que estiverem inseridos*/
  font-family: 'Open Sans', sans-serif;
}

html, 
body, 
#root {

  background-color: #efefef;
  height: 100%;
  /* ajuda no conteúdo da página e ao roda pé ficar colado no final da página */

}